<!DOCTYPE html>

<html>

<head>

<title>Date Filter</title>

</head>


<body>


<h2>
Trend Date Filter
</h2>


<select id="calendar">

<option value="Gregorian">
Gregorian
</option>


<option value="Jalali">
Jalali
</option>


</select>


<br><br>


Start:

<input 
id="start"
placeholder="2026/07/22 10:00:00">


<br><br>


End:

<input 
id="end"
placeholder="2026/07/22 12:00:00">


<br><br>


<button onclick="sendFilter()">

APPLY

</button>




<script>


function sendFilter(){


fetch(
"/set_date_filter",
{

method:"POST",

headers:
{
"Content-Type":
"application/json"
},


body:
JSON.stringify({

calendar:
document.getElementById(
"calendar"
).value,


start:
document.getElementById(
"start"
).value,


end:
document.getElementById(
"end"
).value

})

}

)

.then(
r=>r.json()
)

.then(
d=>alert(
"Filter Updated"
)
);


}


</script>


</body>

</html>